.page {
    display: flex;
    flex-direction: column;

    .navbar {
        --height-navbar: 4rem;
        padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
        height: var(--height-navbar);
        .logo {
            width: 5rem;
        }
    }
}
