.preview {
    --input-width: 35rem;
    border: none !important;
    background-color: var(--dui-color-background);
    overflow-y: auto;
    gap: var(--dui-spacing-large);

    .question-wrapper {
        align-items: flex-start;
        padding: var(--dui-spacing-extra-large);
        gap: var(--dui-spacing-extra-large);
    }

    .question-item {
        flex-grow: 1;
        max-width: var(--input-width);
    }
}
