.question-wrapper {
    --input-width: 35rem;
    align-items: flex-start;
    padding: var(--dui-spacing-extra-large);
    padding-left: var(--dui-spacing-medium);
    gap: var(--dui-spacing-large);

    .drag-icon {
        > path {
            stroke: var(--dui-color-label);
        }
    }
}

.question-item {
    flex-grow: 1;
    max-width: var(--input-width);
}
