.preview {
    border: none !important;
    background-color: var(--dui-color-background);
    gap: var(--dui-spacing-large);

    .question-item {
        padding: var(--dui-spacing-extra-large);
    }
}
