.preview {
    display: flex;
    flex-direction: column;
    padding: var(--dui-spacing-extra-large) var(--dui-spacing-large);
    gap: var(--dui-spacing-medium);

    .question-list {
        width: 10rem;
    }
}
