.preview {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-medium);

    .choices-preview {
        align-items: flex-start;
        gap: var(--dui-spacing-large);

        .icon {
            color: var(--dui-color-primary);
            font-size: var(--dui-font-size-extra-large);
        }

        .choices {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            gap: var(--dui-spacing-small);
        }
    }
}
