.project-item {
    display: flex;
    border: unset;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;

    &:hover, &.active {
        background-color: var(--dui-color-secondary);
    }

    .clickable {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        cursor: pointer;
        padding: var(--dui-spacing-medium);
        gap: var(--dui-spacing-small);

        .description {
            display: flex;
            flex-wrap: wrap;
            gap: var(--dui-spacing-small);

        }
        .stats {
            >* {
                font-size: var(--dui-font-size-small);
            }
        }
    }
    .menu {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--dui-spacing-medium);
    }
}
