.project-item {
    display: flex;
    border: unset;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    text-align: left;

    &:hover, &.active {
        background-color: var(--dui-color-secondary);
    }

    .clickable {
        flex-grow: 1;
        cursor: pointer;
        padding: var(--dui-spacing-medium);

        .description {
            display: flex;
        }
    }
    .menu {
        align-self: flex-start;
        flex-shrink: 0;
        margin: var(--dui-spacing-medium);
    }
}
