.navbar {
    --height-navbar: 3.6rem;
    display: flex;
    flex-shrink: 0;
    background-color: var(--dui-color-secondary);
    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
    padding-top: 0;
    padding-bottom: 0;
    height: var(--height-navbar);

    .logo-container {
        display: flex;
        align-self: center;
        flex-shrink: 0;
        padding: var(--dui-spacing-small);
        padding-bottom: 0;

        .logo {
            width: 3.5rem;
        }
    }
    .mid-section {
        display: flex;
        align-self: center;
        flex-grow: 1;
        padding-left: calc(20rem - 4rem);
    }

    .right {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        justify-content: flex-end;

        .nav-links {
            display: flex;
            height: 100%;
            gap: var(--dui-spacing-medium);

            .nav-item {
                display: flex;
                position: relative;
                align-items: center;
                outline: none;
                border-bottom: var(--dui-width-separator-medium) solid transparent;
                padding: var(--dui-spacing-medium) var(--dui-spacing-medium);
                text-transform: uppercase;
                text-decoration: none;
                color: var(--dui-color-primary);
                font-size: var(--dui-font-size-small);
                font-weight: var(--dui-font-weight-bold);

                &.active {
                    border-color: var(--dui-color-primary);
                }
            }
        }

        .actions {
            align-self: center;
            color: var(--dui-color-primary);
        }
    }
}
