.options {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);

    .option-detail {
        display: flex;
        gap: var(--dui-spacing-medium);
    }
    .input {
        flex-grow: 1;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        gap: var(--dui-spacing-large);

        .options-list {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-extra-large);
            background-color: none;
        }
    }
}
