.about {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    --color-headers: var(--dui-color-secondary);
    --color-cells: #dad4f1;

    .content {
        display: flex;
        flex-grow: 1;
        overflow-y: auto;
        gap: var(--dui-spacing-medium);

        .viz {
            display: flex;
            flex-direction:column;
            flex-grow: 1;
            padding: var(--dui-spacing-large) var(--dui-spacing-extra-large);
            overflow-y: auto;
            gap: var(--dui-spacing-super-large);

            .pillars {
                display: flex;
                flex-direction: column;
                max-width: 70vw;
                gap: var(--dui-spacing-medium);

                .pillar-item {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-small);

                    .parent {
                        border: var(--dui-color-separator) solid var(--dui-width-separator-thin);
                        background-color: #f5f5f5;
                        padding: var(--dui-spacing-medium);
                        width: 100%;
                        text-align: center;
                        font-weight: var(--dui-font-weight-bold);
                    }
                    .sub-pillars{
                        display: flex;
                        gap: var(--dui-spacing-small);
                        justify-content: space-between;
                    }
                }
            }

            .two-d-table {
                max-width: 70vw;
                table-layout: fixed;
                border-spacing: var(--dui-spacing-small);

                .header {
                    text-align: center;
                    font-weight: var(--dui-font-weight-bold);
                }

                .cell-header {
                    border: var(--dui-color-separator) solid var(--dui-width-separator-thin);
                    background-color: #f5f5f5;
                    padding: 0 var(--dui-spacing-medium);
                    font-weight: var(--dui-font-weight-bold);
                }

                .cell {
                    .button {
                        width: 100%;
                    }
                }
            }

            .leaf {
                flex-grow: 1;
                border: none;
                border-radius: 0;
                background-color: var(--color-cells);
                min-height: 1.6rem;
                text-align: center;
                color: var(--dui-color-primary);

                >* {
                    justify-content: center;
                    text-transform: capitalize;
                }
            }
        }

        .right-pane {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
            background-color: #fafafa;
            padding: var(--dui-spacing-large) var(--dui-spacing-extra-large);
            width: 30vw;
            max-width: 30rem;
            overflow-y: auto;
            gap: var(--dui-spacing-large);

            .questions-container {
                background-color: unset;
                overflow: unset;

                .questions-content {
                    overflow: unset;
                }
            }
        }
    }
}
