.preview {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-medium);

    .checkbox-list {
        display: flex;
        flex-direction: column;
        gap: var(--dui-spacing-small);
        width: 10rem;
    }
}
