.questionnaire {
    display: flex;
    background-color: var(--dui-color-white);
    padding: var(--dui-spacing-large);

    .heading {
        width: 100%;
    }
}
.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--dui-spacing-medium);

    .buttons {
        display: flex;
        gap: var(--dui-spacing-medium);
    }

    .iframe {
        flex-grow: 1;
    }
}
