.project-edit {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-large);
    height: 100vh;

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: auto;
        padding: var(--dui-spacing-extra-large);
        max-width: 60rem;
        gap: var(--dui-spacing-extra-large);

        .edit-fields {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-medium);
        }

        .submit-button {
            align-self: flex-end;
        }
        .add-member-button {
            align-self: flex-end;
        }
    }
}
