.sub-navbar {
    --height-navbar: 3.6rem;
    display: flex;
    flex-shrink: 0;
    background-color: var(--dui-color-secondary);
    padding: var(--dui-spacing-medium) var(--dui-spacing-super-large);
    height: var(--height-navbar);
    gap: var(--dui-spacing-large);

    .logo-container {
        display: flex;
        align-self: center;
        flex-shrink: 0;

        .logo {
            width: 4rem;
        }
    }

    .mid-section {
        display: flex;
        align-self: center;
        flex-grow: 1;
    }

    .right {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        justify-content: flex-end;

        .nav-links {
            display: flex;
            gap: var(--dui-spacing-medium);
        }
    }
}
