:root {
    --background-color: #FFFFFF;
    --background-color-gray: #F0F0F0;
    --color-gray1: #FBFBFB;
    --color-gray2: #F5F5F5;
    --color-gray3: #EAEAEA;

    --dui-color-primary: #5A3070;
    --dui-color-secondary: #EFEDF7;
    --dui-color-outline: #CAA9DB;
    --dui-color-background-hover-primary-button: #6E4780;

    --dui-color-background: #FFF;
    --dui-color-foreground: #F9F9F9;

    --dui-color-foreground-scrollbar: #e0e0e0;

    --text-color: #414141;
    --text-color-dark: #00033F;
    --label-color: #666;

    --anchor-color: #646cff;
    --anchor-hover-color: #535bf2;

    --shadow-color: #646cffaa;

    --padding-small: 1.5em;
    --padding-medium: 2em;

    /* font-weights */
    --dui-font-weight-light: 300;
    --dui-font-weight-medium: 400;
    --dui-font-weight-bold: 700;
    --dui-font-weight-black: 900;

    /* overriding deep-ui variables */
    --dui-color-accent: #5A3070;

    background-color: var(--background-color);
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    color: var(--text-color);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: var(--dui-font-weight-medium);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;

    font-synthesis: none;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    ::-webkit-scrollbar {
        width: 0.4em;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: var(--dui-radius-scrollbar-border);
        background-color: var(--dui-color-foreground-scrollbar);
    }

    h1, h2, h3, h4, h5, h6 {
        text-transform: unset!important;
    }
}

body {
    height: 100vh;

}
